{% extends 'base.html' %} {# Si tienes una plantilla base, extiéndela aquí #}

{% block content %}

<header class="bg-primary text-white text-center py-5">
    <div class="container">
        <h1 class="display-4">¡Bienvenido a {{ nombre_proyecto }}!</h1>
        <p class="lead">Conoce el estado actual de tu punto de venta, ¡ ya !</p>
    </div>
</header>

<main class="container my-5">
    <div class="row">
        <div class="col-lg-8 mx-auto text-center">
            {% if user.is_authenticated %}
                <div class="alert alert-success" role="alert">
                    <p class="mb-0">¡Qué gusto verte de nuevo, {{ user.username }}! Has iniciado sesión correctamente.</p>
                </div>
            {% else %}
                <div class="alert alert-info" role="alert">
                    <p class="mb-0">Parece que no has iniciado sesión. Puedes <a href="{% url 'login' %}" class="alert-link">iniciar sesión aquí</a> o <a href="{% url 'admin:index' %}" class="alert-link">acceder al panel de administración</a> si eres un superusuario.</p>
                </div>
            {% endif %}
            <hr class="my-4">
            <p>Explora las funcionalidades dashboards y extracciones del punto de venta..</p>
            </div>
    </div>
</main>

<footer class="bg-dark text-white text-center py-4 mt-5">
    <div class="container">
        <p>&copy; {% now "Y" %} {{ nombre_proyecto }}. Todos los derechos reservados.</p>
    </div>
</footer>


{% endblock %}